/* #region Default rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: var(--bool-body_color);
}



/* #endregion Default rules */

/* #region Utility */

:root {
    --bool-body_color: #f6f8f9;
    --bool-box1: #47adf1;
    --bool-box2: #9c72e4;
    --bool-box3: #64c0a9;
    --bool-box4: #f29e33;
    --bool-box5: #d863a1;
    --bool-box6: #b0c926;
    --bool-maintext: #444851;

}

.pdd_1_3 {
    margin-top: 2rem;
    padding: 1rem 3rem;
    border-bottom: 1px solid lightgray;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    /* margin-top: 3rem; */
}





h2, p {
    color: var(--bool-maintext);
    
}


/* #endregion Utility */

/* #region Header */

#head_container {
    background-color: white;
    font-size: 35px;
    font-weight: bold;
}

.logo {
    vertical-align: middle;
    padding: 0.5rem;
    
}

/* #endregion Header */

/* #region Nav */

#task {
    background-color: var(--bool-box1);
    color: white;
}

#add_section {
    background-color: white;
    color: lightgray;
    border: 1px solid lightgrey;
}

.nav_button {
    border: none;
    border-radius: 5px;
    padding: 0.4rem;
}

nav {
    margin-top: 3rem;
}

/* #endregion Nav */

/* #region Main */

.main_button {
    border: none;
    border-radius: 50px;
    padding: 0.4rem;
    color: white;
}

.edit {
    background-color: var(--bool-box1);
}

#q_goals {
    background-color: var(--bool-box2);
}

#recruiting {
    background-color: var(--bool-box3);
}

#mobile {
    background-color: var(--bool-box4);
}

#web_site {
    background-color: var(--bool-box5);
}

#sales {
    background-color: var(--bool-box6);
}

.yes {
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 5px;
}

.nien{
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 5px;
}

article {
    padding-top: 3rem;
}

p {
    line-height: 3rem;
}
/* #endregion Main */

/* #region Footer */

footer {
    height: 2rem;
    background-color: var(--bool-box1);
    text-align: center;
    line-height: 2rem;
    width: 80%;
    margin: auto;
}

/* #endregion Footer */